.banner-image {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("https://images.pexels.com/photos/5824010/pexels-photo-5824010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}

.banner-text-left {
  color: white;
  font-family: "Playfair Display", serif;
  text-align: left;
  max-width: 90%;
}
.banner-text-left h1 {
  font-size: clamp(1.8rem, 3vw, 3rem); 
  margin-bottom: 0.5rem;
}
.banner-text-left p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

@media (max-width: 768px) {
  .banner-image {
    height: 40vh;
    padding: 1.5rem;
  }
  .banner-text-left {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .banner-image {
    height: 35vh;
    padding: 1rem;
  }
  .banner-text-left h1 {
    font-size: 1.5rem;
  }
  .banner-text-left p {
    font-size: 0.9rem;
  }
}


.banner-text-center {
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  top: 50%;
}
.banner-text-center h1 {
  font-size: clamp(1.8rem, 3vw, 3rem); 
  margin-bottom: 0.5rem;
}
.banner-text-center p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

@media (max-width: 768px) {
  .banner-image {
    height: 40vh;
    padding: 1.5rem;
  }
  .banner-text-center {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .banner-image {
    height: 35vh;
    padding: 1rem;
  }
  .banner-text-center h1 {
    font-size: 1.5rem;
  }
  .banner-text-center p {
    font-size: 0.9rem;
  }
}