/* Northwestern Brand */
/* https://www.northwestern.edu/brand/visual-identity/color-palettes/ */

@layer properties {
  :root,
  :host {
    /* Northwestern Purple */
    --color-accent-50: #ffffff !important;
    --color-accent-100: #e4e0ee !important; /* Purple 10 */
    --color-accent-200: #ccc4df !important; /* Purple 20 */
    --color-accent-300: #b6acd1 !important; /* Purple 30 */
    --color-accent-400: #a495c3 !important; /* Purple 40 */
    --color-accent-500: #9380b6 !important; /* Purple 50 */
    --color-accent-600: #765da0 !important; /* Purple 70 */
    --color-accent-700: #4e2a84 !important; /* Northwestern Purple */
    --color-accent-800: #401f68 !important; /* Purple 120 */
    --color-accent-900: #200b48 !important; /* Purple 160 */

    /* Northwestern Rich Black */
    --color-gray-50: #ffffff !important;
    --color-gray-100: #d8d6d6 !important; /* Rich Black 10% */
    --color-gray-200: #bbb8b8 !important; /* Rich Black 20% */
    --color-gray-300: #a29f9e !important; /* Rich Black 30% */
    --color-gray-400: #8a8585 !important; /* Rich Black 40% */
    --color-gray-500: #716c6b !important; /* Rich Black 50% */
    --color-gray-600: #484342 !important; /* Rich Black 70% */
    --color-gray-700: #342f2e !important; /* Rich Black 80% */
    --color-gray-800: #1a1817 !important; /* Rich Black 90% */
    --color-gray-900: #000000 !important; /* Rich Black */

    /* Additional Variables */
    --color-northwestern-purple: var(--color-accent-700);
    --color-accent-default: var(--color-northwestern-purple) !important;
    --color-gray-default: var(--color-gray-900) !important;
    --color-gray-muted: var(--color-gray-700) !important;
  }
}